/***** base *****/
body{
    font-family: "Zen Maru Gothic","Noto Sans JP";
    background-color: #f3fbfc;
}
.section-wrapper{
    max-width: 1200px;
    min-height: 550px;
    margin: 80px auto;
    position: relative;
    transform-style: preserve-3d;

}

.section-title{
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    background-color: #47c89d;
    display: flex;
    justify-content: center;
    align-items:end;
    opacity: .3;
    font-size: 5rem;
}

.bubble{
    width: 30vh;
    height: 30vh;
    background-image: radial-gradient(circle at 30% 25%,#fff 0%,#2CD8D5 40%, #C5C1FF 80%, #FFBAC3 100%);
    border-radius: 50%;
    opacity: 0.2;
    position:relative;
    box-shadow: -5px -5px 10px rgb(95,111,114,.5)inset,5px 5px 5px rgb(255,255,255) inset, 30px 60px 60px -20px rgb(0,0,0,.3);
}

.right{
    margin: 0 0 0 auto;
}

.blue{
    background-color: #4CBDD5;
}

.en{
    display: none;
}

/***** End base *****/
/***** header *****/
.header-nav{
    text-align: right;
    justify-content: space-between;
    max-width: 960px;
    position: absolute;
    bottom: 10%;
    right: 13%;
    z-index: 1;
    color: white;
}

.header-nav a{
    color: white;
    font-size: 1.5rem;
}
.nav-item{
    width: 80px;
    height: 80px;
    background-color: #47c89d;
    margin: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 0 1.5rem rgb(0 0 0 / 1);
}
/***** End header *****/

/***** fv *****/
.fv{
    background-image:url('../storage/img/IMG_4690.JPG');
    background-position: center;
    background-size: cover;
    opacity: .8;
    position: relative;
    top: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    padding: 0;
}

.fv-copy{
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
    border: white solid 2px;
    color: white;
    padding: 20px 20px;
}

.fv-main-copy{
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 5px;
}

.fv-sub-copy{
    font-size: 1.6rem;
}

/***** End fv *****/

/***** about *****/
#about{
    z-index: 1;
}

.profile-name{
    margin: 0 auto;
}

.profile-name::after{
    content: '';
    display: block;
    width:100%;
    height: 1px;
    background-color: #cbd5d7;
}

.profile-motto{
    font-style: italic;
    color: #cbd5d7;
    text-shadow: 0.2rem 0.1rem 0.3rem;
    text-align: right;
}

.profile-text{
    font-size: 1.2rem;
}

/***** End about *****/

/***** brief history *****/
#brief-history .modal-dialog{
    max-width: 960px;
    width: 80vw;
}
.brief-history{
    position: relative;
    margin: 30px 0;
}
/***** 縦軸 *****/
.brief-history::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #cbd5d7;
    margin: 0 30px;
    position: absolute;
}
/***** アイコン *****/
.history>span{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #cbd5d7;
    margin: 0 22px;
    position: absolute;
}

.history.current>span{
    background-color: #55c1d7;
}

.history.current::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #55c1d7;
    margin: 0 20px;
    position: absolute;
    animation: ripple 2s infinite ease-out;
}



.history{
    display: flex;
    align-items: center;
}

.history-content{
    margin: 15px 50px 15px 65px;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    padding: 10px 35px;
    background-color: white;
}

.history-year{
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: #55c1d7 solid 1px;
    width: 250px;
}

.history-heading{
    font-size: 1.2rem;
}

/***** End brief history *****/

/***** skills *****/
#skills{
    z-index: 2;
}

.flip-box{
    position: relative;
    width: 100%;
}

.flip{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    transform-style: preserve-3d;
    transition: all 1.5s ease-out;
    cursor: pointer;
}
.flip-body{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.flip:hover{
    transform: rotateY(180deg);
}

.flip .back{
    transform: rotateY(180deg);
}
.card-text span{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbd5d7;
    text-align: center;
}

.card-text p{
    display:inline-block;
}

.card-text span.ripples{
    width: 16px;
    height: 16px;
    background-color: #e89eb7;
}

.ripples::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #e89eb7;
    animation: ripple 2s infinite ease-out;
    position: absolute;
}

@keyframes ripple{
    0%{

    }
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}
/***** End skills *****/

/***** portfolio *****/

.portfolio{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item{
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.portfolio-item::after{
    content: '';
    position: absolute;
    bottom:0;
    right: 0;
    width: 0;
    height: 0;
    border:0 solid #dce2e3;
    border-right-color: #f3fbfc;
    border-bottom-color: #f3fbfc;
    background-color: #f3fbfc;
    overflow: hidden;
    transition: all .7s ease-in;
}

.portfolio-item:hover::after{
    border-width: 30px;
    box-shadow: 0 0 20px 0 rgb(0,0,0,.3);
}
.carousel-indicators{
    z-index: 2;
}

#portfolio_slide{
    z-index: 0;
}
.work-title{
    text-decoration: none;
    color: unset;
}

.work-comment{
    text-align: left;
    padding: 0 60px;
}

/***** End portfolio *****/

/***** contact *****/
.contact-form{
    max-width: 600px;
}

.form_submit .btn{
    width: 160px;
    height: 50px;
    border-radius: 25px;
/***** End contact *****/
}
